<div class = "container" style= "background-image: url(https://res.cloudinary.com/mgould16/image/upload/o_50,q_auto:best/v1557077397/Ticket/heaven.jpg);background-size: cover; width: 100vw; height: 92.25vh">

  <div class="parent-center" style="justify-content: space-between;">
    <%= link_to 'About', pages_about_path  %>
    <%= link_to 'Contact', pages_contact_path  %>

    <h1>Ticket To Heaven</h1>
    <p>Your Guaranteed Peach of Mind</p>


    <div style="display: flex">
      <p>For Them</p>
      <p>For Me</p>
      <p>For Us</p>

    </div>


    <h2>How It Works</h2>
  </div>


</div>


